.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* margin-left: 56%;
    margin-top: -22%; */
    width: 100%;
    font-size: 1.8em;
}

.content-table thead tr {
    background-color: #a4a125;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #a4a125;
}
.btn{
    width: 101px;
    height: 32px;
    border: 2px solid double;
    border-radius: 15px;
    background-color:#00B74A;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    right: 0px;
    /* position: relative; */
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}



#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}
