.container{
    background-color: aliceblue;
text-align: center;
height: 276px;
width: 421px;
margin: auto;
position: absolute;
left: 585px;
top: 197px;

}

*{
    margin: 0;
    padding: 0;
}

input{
display: block;
margin: 24px auto;
width: 197px;
padding: 7px;
border: 2px solid double;
border-radius: 10px;
}

.heading{
    padding: 36px;
}
.btn{
    width: 76px;
    height: 32px;
    border: 2px solid double;
    border-radius: 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
  
}
body{
    /* background-color: rgb(246, 32, 32); */
     background-image: url("rbg1.jpg");
     background-size: cover;
      /* background-position: center; */
     background-repeat: no-repeat;
}
.container .reset{
    color: red;
}
.container .sent{
    color: #00B74A;
}